*{
    margin: 0;
    padding: 0;
    border:border-box ;
}
body{
    background-color: whitesmoke;
}

.navbar{
    overflow: hidden;
    height: 30px;
    background-color: whitesmoke;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}

.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid darkgoldenrod;
    border-radius: 2px;
}
.items{
    margin-left: 120px;
    padding:2px 5px;

}
#heart{
    color: red;
    
    
    
}
#shopping{
    align-items: end;
    color: rgb(230, 70, 123)
    
}
.contanier{
    margin-top: 10px;
    border-radius: 5px 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cart{
    margin: 2px 5px;
    padding:  5px;
    border-radius: 5px 5px;
}


.bag-button{
   background-color: aliceblue;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 4px;
}
.wish-button{
    padding: 2px 5px;
    border: 2px solid black;
    border-radius: 10px;
    text-transform: uppercase;
}
.QTY{
    width: 60px;
    display:wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(239,173, 85);
    border-radius: 4px;
    border: none;
    
}.QTY span{
   padding: 4px ;
}

#button3{
    background-color: rgb(239, 173, 85);
}
h3{
    color: rgb(216, 12, 80);
    padding-right: 50px;
}